---
import Layout from '@layouts/Layout.astro';
const gh = 'https://github.com/jws-playgrounds/3d-cube-slider';
const title = '3d-cube-slider';
---

<Layout pageId='top' gh={gh} title={title}>
  <div class='bg'>
    <!-- Slider main container -->
    <div class='swiper-container'>
      <!-- Additional required wrapper -->
      <div class='swiper-wrapper'>
        <!-- Slides -->
        <div class='swiper-slide swiper-slide-01'></div>
        <div class='swiper-slide swiper-slide-02'></div>
        <div class='swiper-slide swiper-slide-03'></div>
        <div class='swiper-slide swiper-slide-04'></div>
      </div>
      <!-- If we need pagination -->
      <div class='swiper-pagination'></div>
      <div class='swiper-button-prev'></div>
      <div class='swiper-button-next'></div>
    </div>
  </div>
</Layout>

<link rel='stylesheet' href='https://unpkg.com/swiper/swiper-bundle.css' />

<style is:inline>
  :root {
    --swiper-theme-color: white;
  }
  .bg {
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8"%3E%3Cg fill="%239C92AC" fill-opacity="0.4"%3E%3Cpath fill-rule="evenodd" d="M0 0h4v4H0V0zm4 4h4v4H4V4z"/%3E%3C/g%3E%3C/svg%3E');
    height: calc(var(--vph) * 1px);
    width: calc(var(--vpw) * 1px);
    position: relative;
    background-color: darkcyan;
  }

  .swiper-container {
    width: 15vw;
    height: 15vw;
    min-width: 150px;
    min-height: 150px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .swiper-slide {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .swiper-slide-01 {
    background-image: url('https://assets.codepen.io/4788040/1.jpg');
  }
  .swiper-slide-02 {
    background-image: url('https://assets.codepen.io/4788040/2.jpg');
  }
  .swiper-slide-03 {
    background-image: url('https://assets.codepen.io/4788040/3.jpg');
  }
  .swiper-slide-04 {
    background-image: url('https://assets.codepen.io/4788040/4.jpg');
  }

  .swiper-button-prev {
    left: -80px;
  }

  .swiper-button-next {
    right: -80px;
  }
</style>

<script is:inline src='https://unpkg.com/swiper/swiper-bundle.min.js'></script>
<script is:inline defer>
  const swiper = new Swiper('.swiper-container', {
    effect: 'cube',
    grabCursor: true,
    loop: true,
    cubeEffect: {
      slideShadows: true,
    },
    autoplay: {
      delay: 2000,
    },
    pagination: {
      el: '.swiper-pagination',
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  });
</script>
